h2 Friends
- p friends
- friends.each_with_index do |todo,e|
    p = todo[e]


h2 Groups
- groups.each do |todo|
    p = todo["Groupname"]


a href="/friend" Lägg till en vän
br/
a href="/group" gå med i en grupp


h3 Stara en grupp
form action="creatgroup" method="post"
  input type="text" name="groupname" placeholder="Gruppens namn"
  input type="submit" value="Skapa"